body        {
    background-color:#202020;
    color: #dddddd;
}


div     {
    gap: 10px;
}


.button      {
    border-radius: 9px;
}


h1          {
    display: block;
    margin: 10px;
}


hr      {
    opacity: 25%;
}


#image      {
    margin: 10px;
}


#options     {
    width: 100%;
    background-color: #303030;
    display: none;
}
